<!DOCTYPE html>
<html lang="pt-br">

<head>
    
    {% load static %}

    {% load socialaccount %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login PetCare</title>
    <link href="{% static 'bootstrap-5.3.8-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block css_local %}
    <link href="{% static 'css/autenticacao.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body>
    <div class="login-container">
        <div class="form-container">
            <div class="text-center mb-5">
                <h1 class="logo-text"><i class="bi bi-heart-pulse" style="color: var(--accent-color);"></i> PetCare
                </h1>
                <p class="text-muted">Cuidando do seu melhor amigo</p>
            </div>
            <h3 class="mb-4">Bem-vindo de volta</h3>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuário</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Digite seu usuário"
                        required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha"
                        required>
                </div>
                {% if mensagem %}
                <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
                    <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
                    <div>{{ mensagem }}</div>
                </div>
                {% endif %}
                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-custom-primary">Entrar</button>
                    <a class="btn btn-secondary" href="{% url 'cadastro' %}">Criar uma conta</a>
                </div>
            </form>
            <div class="d-grid gap-2 mt-4">
                <br>
                <a href="{% provider_login_url 'google' %}" class="btn btn-custom-primary" >
                    <span class="fw-bold">Login com  </span>
                    <img src="{% static 'img/google.png' %}" width="30" height="30" alt="Google">
                </a>
            </div>
        </div>
    </div>
</body>

</html>