{% block conteudo %}
<div class="login-container">
    <h1 class="card-title text-center mb-4" style="color: #343a40;">Cadastro de Usuário</h1>
    <div id="principal" class="login-container">
        <form action="/" method="post">
            <div>
                <label for="usuario">Nome de Usuário:</label>
                <input type="text" id="usuario" name="usuario" required>
            </div>

            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            
            <div>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <div>
                <label for="senha">Senha:</label>
                <input type="passwor1d" id="senha" name="senha" required>
            </div>
            <div>
                <label for="senha2">Confirmar Senha:</label>
                <input type="password" id="senha2" name="senha2" required>
            </div>

            <button type="submit">Cadastrar</button>

        </form>
    </div>
</div>
{% endblock %}